{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}

    {% include 'AppBundle:Film:liste.html.twig' with { 'films': films } %}
    <p><a href="{{ path('film_ajouter') }}">Ajouter un film</a></p>

{% endblock %}
