{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}

{% block body %}

    {% include 'AppBundle:Acteur:liste.html.twig' with {'acteurs': acteurs} %}
    <p><a href="{{ path('acteur_ajouter') }}">Ajouter un acteur</a></p>

{% endblock %}
