{% extends '@AppFilmotheque/layout.html.twig' %}

{% block content %}
    <h3>Ajouter/Modifier un acteur</h3>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        <div class="error">{{ form_errors(form) }}</div>
        <table>
            <tr>
                <td align="center">{{ form_label(form.nom) }}</td>
                <td align="center">{{ form_label(form.prenom) }}</td>
                <td align="center">{{ form_label(form.dateDeNaissance) }}</td>
                <td align="center">{{ form_label(form.sexe) }}</td>
            </tr>
            <tr>
                <td>
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </td>
                <td>
                    {{ form_errors(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </td>
                <td>
                    {{ form_errors(form.dateDeNaissance) }}
                    {{ form_widget(form.dateDeNaissance) }}
                </td>
                <td>
                    {{ form_errors(form.sexe) }}
                    {{ form_widget(form.sexe) }}
                </td>
            </tr>
        </table>

        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('acteur_index') }}">Retour à la liste</a>
        </li>
        {% if delete_form is defined %}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
