{% extends 'AppFilmothequeBundle::layout.html.twig' %}

{#{% block title %}Liste des acteurs{% endblock %}#}

{% block content %}

    <h3>Liste des acteurs</h3>

    {% include 'AppFilmothequeBundle:acteur:liste.html.twig' with {'acteurs' : acteurs} %}
    <p><a href="{{ path('acteur_ajouter') }}">Ajouter un acteur</a></p>

{% endblock %}
