<table>
    {% for acteur in acteurs %}
        <tr>
            <td>{{ acteur.nom }}</td>
            <td>{{ acteur.prenom }}</td>
            <td>{% if acteur.dateDeNaissance %}{{ acteur.dateDeNaissance|date('d/m/Y') }}{% endif %}</td>
            <td>{{ acteur.sexe }}</td>
            <td>
                <a href="{{ path('acteur_show', { 'id': acteur.id }) }}">Détails</a>
                <a href="{{ path('acteur_modifier', { 'id': acteur.id }) }}">Modifier</a>
                <a href="{{ path('acteur_delete', {'id': acteur.id}) }}">Supprimer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>Aucun acteur n'a été trouvé.</td>
        </tr>
    {% endfor %}
</table>