{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ acteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ acteur.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if acteur.dateDeNaissance %}{{ acteur.dateDeNaissance|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ acteur.sexe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acteur_index') }}">Retour à la liste des acteurs</a>
        </li>
        <li>
            <a href="{{ path('acteur_modifier', { 'id': acteur.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
