{% extends '@AppFilmotheque/layout.html.twig' %}

{% block content %}

<h3>Top des acteurs les plus jeunes</h3>

{{ render(controller(
    'AppFilmothequeBundle:Acteur:top',
    { 'max': 3 }
)) }}

<h3>Top films</h3>

{% endblock %}