<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Filmothèque{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/filmotheque/css/main.css') }}" type="text/css" media="all">
</head>

<body>
    <div id="page">
        <div id="header">
            <img src="{{ asset('bundles/filmotheque/images/logo.png') }}" alt="Filmothèque" width="128" height="128">
            <ul id="menu">
                <li><a href="{{ path('app_filmotheque_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('film_index') }}">Films</a></li>
                <li><a href="{{ path('acteur_index') }}">Acteurs</a></li>
            </ul>
        </div>

        <div id="content">
            <h1>{{ block('title') }}</h1>

            {% block content %}
            {% endblock %}

        </div>

        <div id="footer">
            <p>Tous droits réservés &copy; {{ 'now'|date('Y') }}</p>
        </div>
    </div>
</body>
</html>